<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Post Status Kamu Disini</title>
  </head>
  <body>
    <h2>Halo, apa kabar?</h2>
    <form method ="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary">Post</button>
 </form>

 {% for itu in isi %}
  <h2> Status : {{ itu.status }} </h2>
  <h2>Waktu Post : {{ itu.waktuPost }}</h2>
  {%endfor%}
  </body>
</html>
